@import url(./blocks/base.css);
@import url(./blocks/header.css);
@import url(./blocks/about.css);
@import url(./blocks/hello.css);
@import url(./blocks/offer.css);
@import url(./blocks/footer.css);
@import url(./blocks/news.css);