html {
	font-family: "Open Sans";
	font-size: 16px;
}

body,
html {
	height: 100%;
}

body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: #fff;
	margin: 0;
}

button {
	border: 0;
	cursor: pointer;
}

* {
	box-sizing: border-box;
}

ul {
	padding: 0;
	margin: 0;
	list-style: none;
	display: flex;
	justify-content: space-between;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: normal;
	margin: 0;
}

p {
	margin: 0;
	padding: 0;
}

a {
	color: inherit;
	cursor: pointer;
	text-decoration: none;
	display: block;
}

img {
	display: block;
	max-width: 100%;
	max-height: 100%;
	object-fit: cover;
	border-style: none;
}

.wrapper {
	min-height: 100%;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	max-width: 1920px;
	width: 100%;
}

.wrapper__content {
	position: relative;
}

.background {
	background: url(../../img/background.jpg) no-repeat;
}

.container {
	margin: 0 auto;
	width: 100%;
	height: 100%;
	max-width: 1141px;
}

.logo, .menu, .menu__item, .contacts {
	display: inline-block;
}

.logo, .contacts {
	margin-top: 29px;
}

.menu {
	margin-top: 42px;
	margin-left: 79px;
}

.menu__item {
	margin-right: 54px;
}

.menu__item:hover {
	color: rgb(255, 0, 0);
}

.menu__item:last-child {
	margin-right: 0;
}

.logo {
	float: left;
}

.contacts {
	float: right;
}

.contacts__phone {
	font-style: normal;
	font-weight: 400;
	font-size: 26px;
	line-height: 35px;
}

.contacts__info {
	float: right;
	font-style: normal;
	font-weight: 400;
	font-size: 13px;
	line-height: 20px;
}

.title {
	position: relative;
	margin-bottom: 51px;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 49px;
	width: 325px;
  height: 49px;
}

.title--dark {
	color: black;
}

.title--fire::after {
	content: "";
	background: url(../../img/flame.png) no-repeat;
	position: absolute;
	margin-left: 10px;
	width: 20px;
	height: 30px;
	top: 61%;
	left: 87%;
	transform: translate(-50%, -50%);
}

.button {
	width: 135px;
	height: 55px;
	padding: 18px 0;
	background: #f5170e;
	border-radius: 35px;
	color: #fff;
	text-align: center;
	text-transform: uppercase;
	font-style: normal;
	font-weight: 700;
	font-size: 14px;
	line-height: 19px;
	margin-top: 37px;
}

.button--light {
	background: #fff;
	color: #f5170e;
	border: 1px solid #f5170e
}

.button--light:hover {
	background: #F5170E;
	color: #fff;
}

.button--red:hover {
	background: #fff;
	color: #F5170E;
}